.card-calendar {
  &-change-month {
    color: $GRAY_M;

    &:hover {
      color: $GRAY_BLACK;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }

  &-date {
    &:hover {
      color: gray;
    }
  }
}

.meeting-calendar {
  &-date {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
