$background-color: #eceff9;
$BLUE_B: #e6f7ff;
$BLUE_L: #69c0ff;
$BLUE_M: #1890ff;
$BLUE_D: #0050b3;
$RED_B: #fff1f0;
$RED_L: #ff7875;
$RED_M: #f5222d;
$RED_D: #a8071a;
$VOLCANO_B: #fff2e8;
$VOLCANO_L: #ff9c6e;
$VOLCANO_M: #fa541c;
$VOLCANO_D: #ad2102;
$ORANGE_B: #fff7e6;
$ORANGE_L: #ffc069;
$ORANGE_M: #fa8c16;
$ORANGE_D: #ad4e00;
$GOLD_B: #fffbe6;
$GOLD_L: #ffd666;
$GOLD_M: #faad14;
$GOLD_D: #ad6800;
$YELLOW_B: #feffe6;
$YELLOW_L: #fff566;
$YELLOW_M: #fadb14;
$YELLOW_D: #ad8b00;
$LIME_B: #fcffe6;
$LIME_L: #d3f261;
$LIME_M: #a0d911;
$LIME_D: #5b8c00;
$GREEN_B: #f6ffed;
$GREEN_L: #95de64;
$GREEN_M: #52c41a;
$GREEN_D: #237804;
$CYAN_B: #e6fffb;
$CYAN_L: #5cdbd3;
$CYAN_M: #13c2c2;
$CYAN_D: #006d75;
$GEEKBLUE_B: #f0f5ff;
$GEEKBLUE_L: #85a5ff;
$GEEKBLUE_M: #2f54eb;
$GEEKBLUE_D: #10239e;
$PURPLE_B: #f9f0ff;
$PURPLE_L: #b37feb;
$PURPLE_M: #722ed1;
$PURPLE_D: #391085;
$MAGENTA_B: #fff0f6;
$MAGENTA_L: #ff85c0;
$MAGENTA_M: #eb2f96;
$MAGENTA_D: #9e1068;
$GRAY_B: #fafafa;
$GRAY_L: #f0f0f0;
$GRAY_M: #bfbfbf;
$GRAY_D: #595959;
$GRAY_BLACK: #262626;