@import "rfs/scss";
@import "./breakpoints";

.twelveFont {
  @include font-size(12px);
}

.fourteenFont {
  @include font-size(14px);
}

.sixteenFont {
  @include font-size(16px);
}

.eighteenFont {
  @include font-size(18px);

  @include lg {
    @include font-size(16px);
  }
}

.twentyFont {
  @include font-size(20px);
}

.twentyTwoFont {
  @include font-size(22px);
}

.twentyFourFont {
  @include font-size(24px);
}

.twentyEightFont {
  @include font-size(28px);
}

.thirtyTwoFont {
  @include font-size(32px);
}

.thirtySixFont {
  @include font-size(36px);
}

.fortyEightFont {
  @include font-size(48px);
}

.sixtyFourFont {
  @include font-size(64px);
}
