.student-info-header {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0.25em;

  .student-info-icon {
    font-size: 25px;
    margin-bottom: 2px;
    margin-right: 0.25em;
    color: #002766;
  }
}

.student-info-responsive-tab-container {
  position: relative;

  @include lg {
    padding-left: 3em;
    padding-right: 3em;
  }
  @include sm {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.student-info-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  position: relative;

  &-name {
    text-align: center;
    vertical-align: middle;
  }
}

.reference-card-icon {
  font-size: 25px;
  margin-bottom: 1px;
  margin-right: 0.25em;
  color: #bfbfbf;
}

.file-card {
  .file-card-container {
    background-color: white;
    position: relative;
    height: 4.5em;
    width: 4.5em;

    border-radius: 5px;
    border: 1px solid #f0f0f0;

    .file-card-icon {
      font-size: 48px;
      color: #bfbfbf;
    }
  }

  &:hover {
    .file-card-container {
      cursor: pointer;
      border: 1px solid #1890ff;
      transition: 0.3s ease;

      .file-card-icon {
        color: #1890ff;
      }
    }

    .file-card-title {
      color: #1890ff;
    }
  }
}