.applying-student-card {
  &-view-checklist {
    font-style: italic;

    &:hover {
      cursor: pointer;
    }
  }

  &-icon-add {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background-color: white;
    color: $GRAY_M;
    border: 1px dashed $GRAY_M;

    .applying-student-card-icon {
      font-size: 14px;
      position: relative;
      left: 4px;
      top: 2px;
    }

    &:hover {
      color: $GRAY_D;
      border: 1px dashed $GRAY_D;
      cursor: pointer;
      transition: 0.3s ease;
    }
  }

  &-tag-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $GRAY_M;
      border-radius: 8px;

      &:hover {
        background-color: #8c8c8c;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }
}
