@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*
============================================================
************************************************************
                  Standard Design Changes
************************************************************
============================================================
*/

/* Heading stylings for dashboard modules */
.module-name {
  font-family: lato;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  align-items: center;
  text-align: left;
  margin-top: 3%;

  color: #1f1f1f;
}
/* Stylings for cover image in large education cards */
.apply-skills-big-card-cover {
  height: 400px;
  object-fit: cover;
  align-items: top;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.apply-skills-big-card-title {
  font-size: 36px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-big-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 24px;
  font-style: oblique;
  margin-top: -20px;
  margin-bottom: 10px;
}

.apply-skills-big-card-content {
  font-size: 18px;
  font-family: roboto;
  margin-top: -10px;
}

/* Styling for little cards */
.apply-skills-little-card-cover {
  height: 200px;
  object-fit: cover;
  align-items: top;
}

.apply-skills-little-card-title {
  font-size: 24px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-little-card-content {
  font-size: 14px;
  font-family: roboto;
  margin-top: -10px;
}

.apply-skills-little-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 18px;
  font-style: oblique;
  margin-top: -10px;
  margin-bottom: 15px;
}

.apply-skills-banner {
  width: 70%;
}

.container {
  background: white;
  border-radius: 10px;
  padding: 3%;
}

html {
  background-color: gray;
}

hr {
  width: 4px;
  color: black;
}

/*
============================================================
************************************************************
                    ANT DESIGN OVERRIDES
************************************************************
============================================================
*/

/*
============================================================
                    Dashboard Navbar Overrides
============================================================
*/
.dashboard-nav.ant-menu-horizontal > .ant-menu-item:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-selected,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #1890ff;
  border-bottom: 5px solid #1890ff;
}

.dashboard-nav.ant-menu-item-selected {
  color: #1890ff;
}

.dashboard-nav.ant-menu-item {
  color: #1f1f1f;
}

/*
============================================================
                    Education Card Overrides
============================================================
*/
.ant-card-cover img {
  border-radius: 15px 15px 0 0;
}

.button-style {
  font-size: 18px;
  border-radius: 2px;
  width: 20vw;
  min-width:200px;
  height: 36px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.companyIMG{
  width:400px;
  height:200px;
}

.companyLocation{
  width:200px;
  font-size:18px;

  margin-right:5%;
 }



/**

FONT SIZES

*/

.thirtySixFont{
  font-size:36px;
}

.thirtytwoFont{
  font-size:32px;
}

.twentyEightFont{
  font-size:28px;
}

.twentyFourFont{
  font-size:24px;
}

.eighteenFont{
  font-size:18px;
}

.sixteenFont{
  font-size:16px;
}

.fourteenFont{
  font-size:14px;
}


@media only screen and (max-width: 810px) {
  .button-style {
    font-size: 14px;
    width: 16vw;
     height: 28px;
 
  }


.module-name{
  font-size:28px;
}

.companyLocation{
  width:80px;
  font-size:14px;
}

.companyIMG{
  width:100%;
  height:50%;
}

.thirtySixFont{
  font-size:28px;
}

.thirtytwoFont{
  font-size:24px;
}

.twentyEightFont{
  font-size:20px;
}

  .twentyFourFont{
    font-size:18px;
  }



  .eighteenFont{
    font-size:14px;
  }

.sixteenFont{
  font-size:14px;
}

  .fourteenFont{
    font-size:12px;
  }
}


/*APPLY SKILLS STYLING*/
@media only screen and (max-width: 810px) {
/* Stylings for cover image in large education cards */
.apply-skills-big-card-cover {
  height: 300px;
    border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.apply-skills-big-card-title {
  font-size: 36px;
   }

.apply-skills-big-card-time {
    font-size: 18px;
   margin-top: -16px;
  margin-bottom: 8px;
}

.apply-skills-big-card-content {
  font-size: 14px;
   margin-top: -8px;
}

/* Styling for little cards */
.apply-skills-little-card-cover {
  height: 200px;
 }

.apply-skills-little-card-title {
  font-size: 18px;
 }

.apply-skills-little-card-content {
  font-size: 12px;
   margin-top: -8px;
}

.apply-skills-little-card-time {
   font-size: 14px;
   margin-top: -8px;
  margin-bottom: 12px;
}

 



}