/*
============================================================
************************************************************
                  Standard Design Changes
************************************************************
============================================================
*/

/* Heading stylings for dashboard modules */
.module-name {
  font-family: lato;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  align-items: center;
  text-align: left;
  margin-top: 3%;

  color: #1f1f1f;
}
/* Stylings for cover image in large education cards */
.apply-skills-big-card-cover {
  height: 400px;
  object-fit: cover;
  align-items: top;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.apply-skills-big-card-title {
  font-size: 36px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-big-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 24px;
  font-style: oblique;
  margin-top: -20px;
  margin-bottom: 10px;
}

.apply-skills-big-card-content {
  font-size: 18px;
  font-family: roboto;
  margin-top: -10px;
}

/* Styling for little cards */
.apply-skills-little-card-cover {
  height: 200px;
  object-fit: cover;
  align-items: top;
}

.apply-skills-little-card-title {
  font-size: 24px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-little-card-content {
  font-size: 14px;
  font-family: roboto;
  margin-top: -10px;
}

.apply-skills-little-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 18px;
  font-style: oblique;
  margin-top: -10px;
  margin-bottom: 15px;
}

.apply-skills-banner {
  width: 70%;
}

.container {
  background: white;
  border-radius: 10px;
  padding: 3%;
}

html {
  background-color: gray;
}

hr {
  width: 4px;
  color: black;
}

/*
============================================================
************************************************************
                    ANT DESIGN OVERRIDES
************************************************************
============================================================
*/

/*
============================================================
                    Dashboard Navbar Overrides
============================================================
*/
.dashboard-nav.ant-menu-horizontal > .ant-menu-item:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-selected,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #1890ff;
  border-bottom: 5px solid #1890ff;
}

.dashboard-nav.ant-menu-item-selected {
  color: #1890ff;
}

.dashboard-nav.ant-menu-item {
  color: #1f1f1f;
}

/*
============================================================
                    Education Card Overrides
============================================================
*/
.ant-card-cover img {
  border-radius: 15px 15px 0 0;
}

.button-style {
  font-size: 18px;
  border-radius: 2px;
  width: 336px;
  height: 36px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
