@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:medium");
@import "~rfs/scss";

/*
============================================================
************************************************************
                  Variables
************************************************************
============================================================
*/

$small-breakpoint: 600px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$x-large-breakpoint: 1200px;
$medium-dark-gray: #434343;
$background-color: #ebeff2;
$gray-two: #e2e8ed;
$gray-thirteen: #425866;
$ant-gray: #bfbfbf;

//Mixins
@mixin standard-box-shadow {
  box-shadow: 1px 1px 5px -4px;
}

@mixin soft-box-shadow {
  //box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.25);
}

@mixin standard-border-radius {
  border-radius: 15px;
}

@mixin light-border-radius {
  border-radius: 10px;
}

@mixin standard-light-border {
  border: 1px solid $gray-two;
}

@mixin standard-box-shadow-hover {
  box-shadow: 2px 2px 5px -4px;
  transition: 0.3s ease;
}

/*
============================================================
************************************************************
                  Standard Design Changes
************************************************************
============================================================
*/

/* Heading stylings for dashboard modules */
.module-name {
  @include font-size(28px);
  font-family: lato;
  font-weight: bold;
  //font-size: 28px;
  line-height: 43px;
  align-items: center;
  text-align: left;
  margin-top: 3%;

  color: #1f1f1f;
}
/* Stylings for cover image in large education cards */
.apply-skills-big-card-cover {
  height: 400px;
  object-fit: cover;
  align-items: top;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.apply-skills-big-card-title {
  font-size: 36px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-big-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 24px;
  font-style: oblique;
  margin-top: -20px;
  margin-bottom: 10px;
}

.apply-skills-big-card-content {
  font-size: 18px;
  font-family: roboto;
  margin-top: -10px;
}

/* Styling for little cards */
.apply-skills-little-card-cover {
  height: 200px;
  object-fit: cover;
  align-items: top;
}

.apply-skills-little-card-title {
  font-size: 24px;
  font-family: lato;
  color: black;
  text-align: left;
}

.apply-skills-little-card-content {
  font-size: 16px;
  font-family: roboto;
  margin-top: -10px;
}

.apply-skills-little-card-time {
  color: #52c41a;
  font-family: roboto;
  font-size: 18px;
  font-style: oblique;
  margin-top: -10px;
  margin-bottom: 15px;
}

.apply-skills-banner {
  width: 70%;
}

.container {
  background: white;
  border-radius: 10px;
  padding: 3%;
}

html {
  background-color: gray;
}

hr {
  width: 4px;
  color: black;
}

/*
============================================================
                    Company Information Pages
============================================================
*/

.company-info-card {
  @include standard-box-shadow();
  background: white;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 10px;

  min-width: 400px;
  display: flex;
  align-items: center;

  &:hover {
    @include standard-box-shadow-hover();
  }
}

.company-info-banner {
  background-color: white;
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;

  .company-info-banner-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
}

.company-info-banner-skeleton {
  background-color: #f0f0f0;
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.company-info-inner-content {
  display: flex;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
  width: 85%;
  margin-top: 3%;
}

.company-info-add-button {
  @include soft-box-shadow();
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid $ant-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ant-gray;
}

.company-info-add-button:hover {
  border: 1px solid #52c41a;
  transition: 400ms ease-in-out;
  cursor: pointer;
  color: #52c41a;
}

.company-info-add-button-check {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}

.company-info-add-button-plus {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}

.company-info-inner-content-skeleton {
  //display: flex;
  //justify-content: flex-start;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
  width: 85%;
  margin-top: 3%;
}

.company-info-company-name {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  text-align: left;

  margin-top: -1vh;
  margin-left: 2vw;
  margin-bottom: -1vh;
}

.company-info-company-location {
  font-family: Roboto;
  font-weight: normal;
  text-align: left;

  margin-left: 2vw;

  color: $medium-dark-gray;
}

.company-info-subsection-header {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.company-info-description {
  font-family: Roboto;
  font-style: normal;
  text-align: left;
}

.company-info-read-more-button {
  margin-top: 1%;
  font-family: Roboto;
  background-color: transparent;
  color: #1890ff;

  &:hover {
    cursor: pointer;
  }
}

.company-info-sub-card {
  @include soft-box-shadow();
  @include light-border-radius();
  @include standard-light-border();
  padding: 7% 12%;
  text-align: left;

  .sub-card-heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7%;
  }
  .sub-card-sub-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: left;
  }
}

.company-info-listing-card {
  @include soft-box-shadow();
  @include light-border-radius();
  @include standard-light-border();
  text-align: left;
  position: relative;
  word-wrap: break-word;
  height: 15vh;
  min-height: 130px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;

  .company-info-listing-card-icon-box {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .company-info-listing-card-position-box {
    flex-basis: 50%;
    position: relative;
    display: block;
    height: 30%;
    width: 100%;

    .sub-card-heading {
      font-family: Roboto;
      font-style: normal;
      font-weight: medium;
      text-align: center;
      position: absolute;
      top: 5%;
      width: 100%;

      @media screen and (max-width: $large-breakpoint) {
        @include font-size(14px);
      }
    }
  }
}

.company-info-listing-card-skeleton {
  @include soft-box-shadow();
  @include light-border-radius();
  @include standard-light-border();
  position: relative;
  height: 130%;
  padding: 0% 5%;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
}

.company-info-div-break {
  display: none;

  @media screen and (max-height: 1000px) {
    display: inline-block;
    width: 100%;
    height: 4vh;
  }
  @media screen and (max-height: 800px) {
    display: inline-block;
    width: 100%;
    height: 6vh;
  }
  @media screen and (max-height: 600px) {
    display: inline-block;
    width: 100%;
    height: 12vh;
  }
  @media screen and (max-height: 400px) {
    display: inline-block;
    width: 100%;
    height: 20vh;
  }
  @media screen and (max-height: 300px) {
    display: inline-block;
    width: 100%;
    height: 25vh;
  }
}

.industry-icon {
  color: #595959;
}

.pin-company-remove-button {
  color: $gray-two;

  :hover {
    transition: 0.3s ease;
    color: #cf1322;
    cursor: pointer;
  }
}

/*
============================================================
                    Add Companies
============================================================
*/

.add-company-quickview-enter {
  opacity: 0;
  transform: scale(0.9);
}
.add-company-quickview-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.add-company-quickview-exit {
  opacity: 1;
  height: auto;
}
.add-company-quickview-exit-active {
  opacity: 0;
  //transform: scale(0.9);
  //transform: translateX(100);
  height: 0;
  overflow: hidden;
  transition: opacity 300ms, transform 500ms, height 100ms;
}

.add-company-normalview-enter {
  opacity: 0;
}
.add-company-normalview-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.add-company-normalview-exit {
  opacity: 1;
}
.add-company-normalview-active {
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 2ms, transform 2ms;
}

/*
============================================================
************************************************************
                    ANT DESIGN OVERRIDES
************************************************************
============================================================
*/

/*
============================================================
                    Dashboard Navbar Overrides
============================================================
*/
.dashboard-nav.ant-menu-horizontal > .ant-menu-item:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu:hover,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-active,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-open,
.dashboard-nav.ant-menu-horizontal > .ant-menu-item-selected,
.dashboard-nav.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #1890ff;
  border-bottom: 5px solid #1890ff;
}

.dashboard-nav.ant-menu-item-selected {
  color: #1890ff;
}

.dashboard-nav.ant-menu-item {
  color: #1f1f1f;
}

.dashboard-nav.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border: 0;
  border-bottom: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
============================================================
                    Education Card Overrides
============================================================
*/
.ant-card-cover img {
  border-radius: 15px 15px 0 0;
}

.add-company-button-group {
  @media screen and (max-width: $medium-breakpoint) {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.break {
  display: none;

  @media screen and (max-width: $medium-breakpoint) {
    display: inline;
    flex-basis: 100%;
    height: 0;
  }
}

.button-style {
  border-radius: 2px;
  width: 12vw;
  min-width: 150px;
  height: 36px;

  @media screen and (max-width: $medium-breakpoint) {
    @include font-size(14px);
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.add-button-style {
  border-radius: 2px;
  width: 30%;
  min-width: 100px;
  height: 36px;

  margin-right: 1%;

  white-space: normal;
  word-wrap: break-word;

  @media screen and (max-width: $large-breakpoint) {
    @include font-size(14px);
    display: inline;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.companyIMG {
  width: 25vw;
  height: 200px;

  @media screen and (max-width: $medium-breakpoint) {
    display: none;
  }
}

.companyLocation {
  width: 200px;
  font-size: 18px;

  margin-right: 5%;
}

/*APPLY SKILLS STYLING*/
@media only screen and (max-width: 810px) {
  /* Stylings for cover image in large education cards */
  .apply-skills-big-card-cover {
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .apply-skills-big-card-title {
    font-size: 36px;
  }

  .apply-skills-big-card-time {
    font-size: 18px;
    margin-top: -16px;
    margin-bottom: 8px;
  }

  .apply-skills-big-card-content {
    font-size: 14px;
    margin-top: -8px;
  }

  /* Styling for little cards */
  .apply-skills-little-card-cover {
    height: 200px;
  }

  .apply-skills-little-card-title {
    font-size: 18px;
  }

  .apply-skills-little-card-content {
    font-size: 12px;
    margin-top: -8px;
  }

  .apply-skills-little-card-time {
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 12px;
  }
}

.rounded-borders {
  border-radius: 15px;
}
