.createTask {
  &-inactive {
    color: $GRAY_M;

    &:hover {
      cursor: pointer;
      transition: 0.1s ease;
      font-weight: 400;
      color: $GRAY_BLACK;
    }
  }

  &-selected {
    font-weight: 400;
    color: $GRAY_BLACK;

    &:hover {
      cursor: pointer;
    }
  }

  &-icon-task {
    @include font-size(14px);
    position: relative;
  }
  &-icon-grade {
    @include font-size(18px);
    position: relative;
    top: 2px;
  }
}

