/*
============================================================
************************************************************
                        Navbar Styles
************************************************************
============================================================
*/
.TII-logo {
  width: 30px;
  margin-right: 20px;
}

.main-navbar.ant-menu-horizontal > .ant-menu-item:hover,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu:hover,
.main-navbar.ant-menu-horizontal > .ant-menu-item-active,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu-active,
.main-navbar.ant-menu-horizontal > .ant-menu-item-open,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu-open,
.main-navbar.ant-menu-horizontal > .ant-menu-item-selected {
  color: #1890ff;
  border-bottom: 2px solid transparent;
}

/*
============================================================
************************************************************
                        Form Styles
************************************************************
============================================================
*/
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: bold;
}

p {
  text-align: left;
}

.save-and-continue {
  float: right;
  width: 150px;
}

.educationBox {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  margin-top: 30px;
  background-color: #ededed;
  border-radius: 10px;
}

MinusCircleOutlined {
  display: inline-block;
}

h2 {
  display: inline-block;
}

.next-button,
.submit-button {
  display: inline-block;
  float: right;
}

.back-button {
  display: inline-block;
  float: left;
}

.image_404 {
  max-width: 100%;
  height: auto;
}

/* App Styles */
.FormArea {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-button-style{
  font-size: 16px;
  border-radius: 2px;
  width: 200px;
  height: 32px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}