@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~rfs/scss";

/*
============================================================
************************************************************
                  Variables
************************************************************
============================================================
*/

$small-breakpoint: 600px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$x-large-breakpoint: 1200px;

$background-color: #ebeff2;
$gray-two: #e2e8ed;
$gray-thirteen: #425866;

//Mixins
@mixin standard-box-shadow {
  box-shadow: 1px 1px 5px -4px;
}

@mixin standard-border-radius {
  border-radius: 15px;
}

@mixin light-border-radius {
  border-radius: 10px;
}

@mixin standard-box-shadow-hover {
  box-shadow: 2px 2px 5px -4px;
  transition: 0.3s ease;
}

@mixin mt($name, $amount) {
  .mt-#{$name} {
    margin-top: #{$amount}vh;
  }
}

@mixin mb($name, $amount) {
  .mb-#{$name} {
    margin-bottom: #{$amount}vh;
  }
}

@mixin ml($name, $amount) {
  .ml-#{$name} {
    margin-left: #{$amount}vw;
  }
}

@mixin mr($name, $amount) {
  .mr-#{$name} {
    margin-right: #{$amount}vw;
  }
}

/*
============================================================
************************************************************
                        Navbar Styles
************************************************************
============================================================
*/
.TII-logo {
  width: 30px;
  margin-right: 20px;
}

.main-navbar.ant-menu-horizontal > .ant-menu-item:hover,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu:hover,
.main-navbar.ant-menu-horizontal > .ant-menu-item-active,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu-active,
.main-navbar.ant-menu-horizontal > .ant-menu-item-open,
.main-navbar.ant-menu-horizontal > .ant-menu-submenu-open,
.main-navbar.ant-menu-horizontal > .ant-menu-item-selected,
.main-navbar.ant-menu-horizontal > .ant-menu-item:after {
  color: #1890ff;
  border-bottom: 2px solid white;
}

/*
============================================================
************************************************************
                        Form Styles
************************************************************
============================================================
*/
html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: bold;
}

p {
  text-align: left;
}

.universal-left {
  display: flex;
  justify-content: left;
}

.text-left {
  text-align: left;
}

.break {
  display: none;

  @media screen and (max-width: $medium-breakpoint) {
    display: inline;
    flex-basis: 100%;
    height: 0;
  }
}

.save-and-continue {
  float: right;
  width: 150px;
}

.noColorLink {
  color: white;
  text-decoration: none;
  background-color: none;
}

.educationBox {
  @include standard-box-shadow();
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: $background-color;
  border: 1px solid $gray-two;
  border-radius: 5px;
  position: relative;
}

.new-box {
  @include standard-box-shadow();
  background-color: $background-color;
  border: 1px solid $gray-two;
  border-radius: 5px;
  position: relative;
}

.education-box-remove-button {
  position: absolute;
  top: -.5vh;
  right: -1.3vw;
  color: $gray-thirteen;

  :hover {
    transition: 0.3s ease;
    color: #cf1322;
    cursor: pointer;
  }
}

.apply-header {
  font-family: Lato;
  font-weight: bold;
}

.application-box-heading {
  font-family: Lato;
  font-weight: bold;
  margin-bottom: 2vh;
}

.radio-styling {
  @media screen and (max-width: $medium-breakpoint) {
    display: block;
  }
}

MinusCircleOutlined {
  display: inline-block;
}

h2 {
  display: inline-block;
}

.next-button,
.submit-button {
  display: inline-block;
  float: right;
}

.back-button {
  display: inline-block;
  float: left;
}

.image_404 {
  max-width: 100%;
  height: auto;
}

/* App Styles */
.FormArea {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-button-style {
  font-size: 16px;
  border-radius: 2px;
  width: 90%;
  height: 32px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

/*
************************************************************
                        Ant Design Override
************************************************************
*/

/*
 * Brightened Required Star
 */
.ant-form-item-label > label.ant-form-item-required::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-weight: bold;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

/*
 * Fixed upload icon positioning
*/

.ant-upload-list-item-info .anticon-loading .anticon,
.ant-upload-list-item-info .ant-upload-text-icon .anticon {
  left: 5px;
}

.page-essay-input-skeleton .ant-skeleton-content .ant-skeleton-paragraph > li {
  height: 130px;
}

.page-essay-upload-skeleton .ant-skeleton-content .ant-skeleton-paragraph > li {
  height: 100px;
}

/**
FONT SIZES
*/

.seventyTwoFont {
  @include font-size(72px);
}

.fortyEightFont {
  @include font-size(48px);
}

.thirtySixFont {
  @include font-size(36px);
}

.twentyEightFont {
  @include font-size(28px);
}

.twentyFourFont {
  @include font-size(24px);

  @media screen and (max-width: 480px) {
    @include font-size(18px);
  }
}

.twentyTwoFont {
  @include font-size(22px);
}

.twentyFont {
  @include font-size(20px);
}

.eighteenFont {
  @include font-size(18px);

  @media screen and (max-width: 480px) {
    @include font-size(16px);
  }
}

.sixteenFont {
  @include font-size(16px);
}

.bold {
  font-weight: bold;
}

/**
Margins
*/

@include mt(1, 1);
@include mt(2, 2);
@include mt(3, 3);
@include mt(4, 4);
@include mt(5, 5);
@include mt(6, 6);
@include mt(7, 7);
@include mt(8, 8);

@include mb(1, 1);
@include mb(2, 2);
@include mb(3, 3);
@include mb(4, 4);
@include mb(5, 5);
@include mb(6, 6);
@include mb(7, 7);
@include mb(8, 8);

@include ml(1, 1);
@include ml(2, 2);
@include ml(3, 3);
@include ml(4, 4);
@include ml(5, 5);
@include ml(6, 6);
@include ml(7, 7);
@include ml(8, 8);

@include mr(1, 1);
@include mr(2, 2);
@include mr(3, 3);
@include mr(4, 4);
@include mr(5, 5);
@include mr(6, 6);
@include mr(7, 7);
@include mr(8, 8);