.add-tag-overlay
{
    &-container {
        padding: .5em 1em;
        background-color: white;
        border-radius: 2px;
        border: 1px solid $GRAY_B;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    }
}