.todo-tab {
  &-empty-check {
    display: flex;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid $GRAY_M;
  }

  &:hover {
    .todo-tab-empty-check {
      border: 2px solid $GRAY_D;
      transition: 0.3s ease;
    }
  }

  &-truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
