.page-header {
  &-notifications {
      @include font-size(28px);
      color: $GRAY_M;

      &:hover {
          color: $GRAY_D;
          cursor: pointer;
          transition: .3s ease;
      }
  }
}
