.submenu {
  &-container {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: white;
    border-top: 2px solid $GRAY_L;
    border-bottom: 2px solid $GRAY_L;
  }

  &-active-container {
    .submenu-active-text {
      font-weight: 600;
      color: $BLUE_M;
    }
    
    border-bottom: 3px solid $BLUE_M;
  }
  &-inactive-container {
    .submenu-inactive-text {
      font-weight: 600;
      color: $GRAY_D;
    }

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $BLUE_M;
      transition: 0.1s ease;

      .submenu-inactive-text {
        color: $BLUE_M;
      }
    }
  }
}
